<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xpress-Movie</title>
</head>

<body>
  <footer class="bg-dark text-white text-center py-3 mt-auto ">
    <p>
      &copy; <%= year %> Xpress-Movie. All rights reserved.
    </p>
  </footer>

</body>

</html>