
h2, p {

    color: white !important;
    text-align: center !important;

   }

html, body {
    background-color: black !important;
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.content {
  flex: 1 0 auto;      /* main footer’ı iter */
  display: block;       /* flex card/table child sorununu önler */
  padding-bottom: 150px; /* footer yüksekliği kadar boşluk */
}

footer {
  position: relative;   /* kesinlikle absolute/fixed olmasın */
}