<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>

<body>
  <%-include('partials/header') %>
  <% if (user.role=='admin') { %>
  <div class="container p-4 w-100 mt-5 border rounded bg-light justify-content-center align-items-center">
    <h2> Enregister un film</h2>

    <form class="d-flex gab-3 " action="/admin" method="post">
      <div class="m-3">
        <label for="genre" class="form-label">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre">
      </div>
      <div class="m-3 ">
        <label for="titre" class="form-label">Titre</label>
        <input type="text" class="form-control" id="titre" name="titre">
      </div>
      <div class="m-3 ">
        <label for="description" class="form-label">Description </label>
        <input type="text" class="form-control" id="description" name="description">
      </div>
      <div class="m-3">
        <label for="date" class="form-label">Date de Sortie</label>
        <input type="date" class="form-control" id="date" name="date">
      </div>
      <div class="m-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" name="image">
      </div>
      <div class="m-3 mt-5">
        <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
      </div>
    </form>
  </div>
<div class="container p-4 w-100 mt-5 border rounded bg-light justify-content-center align-items-center">
    <h3>Liste de films</h3>
<div>

</div>
  </div>
  <% } else { %>
  <div class="container p-4 w-100 mt-5 border rounded bg-light justify-content-center align-items-center">
    <h3>Liste de films</h3>
<div>
 
</div>
  </div>
  <% } %>


</body>

</html>