<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>

<body>
    <%-include('partials/header') %>

    <h2> Bienvenu notre platform de films</h2> 
    <h3>Liste de films</h3>
 


</body>

</html>