<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xpress-Movie</title>
</head>
<body>
<%-include('partials/header') %>
<form action="/login" method="post">
  <div class="container-sm p-4 w-25 mt-5 border rounded bg-light justify-content-center align-items-center">
    <div class="">
      <div class="mb-3 ">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </div>
  </div>
  </form>
<!-- <footer>
  <%-include('partials/footer', {year: 2025}) %>
</footer> -->
</body>

</html>