<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xpress-Movie</title>
  <link rel="stylesheet" href="/public/css/index.css">
   
</head>

<body>
  <div class="wrapper">

  <%-include('partials/header') %>
  <main class="content">
  <%- include('component/films_cards') %>
  </main>
  </div>
<footer>
    <%-include('partials/footer', {year: 2025}) %>
  </footer>
</body>

</html>